.list--card{
  width: 345px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid var(--green-5);
  background: linear-gradient(to bottom,var(--green-3), var(--green-2));
  box-shadow: var(--shadow);
}
.list--card-top,
.list--card-bottom,
.list--card-buttons{
  display: flex;
  justify-content: space-between;
}
.list--card-top{
  border-bottom: 1px solid var(--green-5);
}
.list--card-name{
  display: flex;
  align-items: baseline;
  padding-left: 15px;
  font-size: 2rem;
}
.list--card-name span{
  font-size: 1rem;
}
.list--card-name p,
.list--card-name span,
.list--card-price p{
  transform: translate(0, 5px);
}
.list--card-price,
.list--card-remove,
.list--card-add,
.list--card-quantity{
  display: flex;
  align-items: center;
  justify-content: center;
}
.list--card-price,
.list--card-quantity{
  width: 113px;
  height: 50px;
  border-left: 1px solid var(--green-5);
  font-size: 2rem;
}
.list--card-remove,
.list--card-add{
  font-size: 4rem;
}
.list--card-remove{
  width: 115px;
  height: 50px;
}
.list--card-add{
  width: 115px;
  height: 50px;
  border-left: 1px solid var(--green-5);
}
.list--card-name span,
.list--card-remove,
.list--card-add,
.list--card-quantity{
  color: var(--green-5);
}