:root {
  --green-1: #565610;
  --green-2: #828117;
  --green-3: #B2B120;
  --green-4: #D8D727;
  --green-5: #E0DF52;
  --white: #F2F2F2;
  --shadow: 0 5px 5px rgb(0 0 0 / .4);
  --white-alpha: rgba(245 245 245 / .35);
  
  font-family: 'Josefin', system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Josefin';
  src: url('./assets/JosefinSlab-Bold.ttf');
  font-weight: bold;
}

body{
  margin: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
}
h2{
  font-size: 2rem;
  margin: 0;
}
p{
  margin: 0;
}
main{
  padding-top: 115px;
}